/// ...
/// @param {Number} $color - TODO
/// @param {Number} $dark - TODO
/// @param {Number} $light - TODO
/// @group framework
/// @access public
/// @author Michael Ord
@function contrast-color($color, $dark:$contrasted-dark-default, $light:$contrasted-light-default)
{
	@if ($color == null)
	{
		@return null;
	}
	@else
	{
		$color-brightness		:brightness($color);
		$dark-text-brightness	:brightness($dark);
		$light-text-brightness	:brightness($light);

		@return if(abs($color-brightness - $light-text-brightness) > abs($color-brightness - $dark-text-brightness), $light, $dark);
	}
}
