
/// Return...
/// @group framework
/// @access public
/// @author Michael Ord
@function cos($angle)
{
	$a		: _to_unitless_rad($angle);
	$cos	: 1;

	@for $n from 1 through 10
	{
		$cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
	}
	@return $cos;
}
