
/// Return...
/// @group framework
/// @access public
/// @author Michael Ord
@function pow($base, $exp)
{
	$value: $base;

	@if $exp > 1 {
		@for $i from 2 through $exp {
 			$value: $value * $base;
		}
	}
	@if $exp < 1{
		@for $i from 0 through -$exp {
			$value: $value / $base;
		}
	}
	@return $value;
}
