
/// Return...
/// @group framework
/// @access public
/// @author Michael Ord
@function rad($angle)
{
	$unit: unit($angle);
	$unitless: $angle / ($angle * 0 + 1);

	// If the angle has 'deg' as unit, convert to radians.
	@if $unit == deg {
		$unitless: $unitless / 180 * pi();
	}

	@return $unitless;
}
