
/// Return...
/// @param {Number} $px - ...
/// @group framework
/// @access private
/// @author Michael Ord
@function _rem($px)
{
	@if($px == auto)
	{
		@return $px;
	}

	@if(unit($px) == "rem")
	{
		@return $px;
	}

	@if not unitless($px)
	{
		$px 		:strip-units($px);
	}

	@if not unitless($base-font-size)
	{
		$base 		:strip-units($base-font-size);
	}

	@return ($px / $base) * 1rem;
}

/// Return...
/// @param {Number} $size - ...
/// @group framework
/// @access public
/// @author Michael Ord
@function rem($size)
{
	$output 		:'';
	$counter 		:0;

	@each $item in $settings
	{
		$rem 		:_rem($item, $base);

		@if($counter == 0)
		{
			$output :$rem;
		}
		@else
		{
			$output :$output + ' ' + $rem;
		}

		$counter 	: $counter + 1;
	}

	@return unquote($output);
}
