
/// Return...
/// @group framework
/// @access public
/// @author Michael Ord
@function sin($angle){
	$a: _to_unitless_rad($angle);
	$sin: $a;

	@for $n from 1 through 10 {
		$sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
	}

	@return $sin;
}
