
/// Return...
/// @group framework
/// @access public
/// @author Michael Ord
@function space($multiplier:1, $unit : px)
{
	$number				: strip-units($multiplier);

	@if($number == px or $number == rem)
	{
		$number			: 1;
	}

	@if($multiplier == rem or unit($multiplier) == rem)
	{
		$unit			: rem;
	}

	@if($unit == rem)
	{
		@return (round($base-font-size * $base-line-height) / $default-font-size * 1rem)  * $number;
	}

	@return (round($base-font-size * $base-line-height) * 1px) * $number;
}
