
/// Base font size
/// @group framework
/// @access public
/// @type Number
$base-font-size					: 14 !default;

/// Base line height
/// @group framework
/// @access public
/// @type Number
$base-line-height				: 1.5 !default;

/// Base Unit
/// @group framework
/// @access public
/// @type String
$base-unit						: rem !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$clr-success					: #5cb85c !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$clr-info						: #5bc0de !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$clr-warning					: #F3DB9B !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$clr-error						: #fe7768 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$core-body-copy-color			: #333 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$core-body-background-color		: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$core-heading-color				: $core-body-copy-color !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$clr-primary 					: #166b9f !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$contrasted-dark-default		: #000000 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$contrasted-light-default		: #ffffff !default;

/// ...
/// @group framework
/// @access public
/// @type Bool
$debug 							: false !default;

/// ...
/// @group framework
/// @access public
/// @type Bool
$warning-messages				: true !default;

/// ...
/// @group framework
/// @access public
/// @type Bool
$prefer-flexbox					: true !default;

/// ...
/// @group framework
/// @access private
/// @type String
$images 						: "../media/" !default;

/// ...
/// @group framework
/// @access public
/// @type List
$base-font-family				: $sans-font-family !default;

/// ...
/// @group framework
/// @access public
/// @type List
$base-heading-font-family		: inherit !default;

/// ...
/// @group framework
/// @access public
/// @type String
$site-width 					: 1140px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$site-width-min 				: 320px !default;

/// ...
/// @group framework
/// @access public
/// @type List
$base-mono-font-family			: $mono-font-family !default;

/// ...
/// @group framework
/// @access public
/// @type String
$cursor-disabled				: not-allowed !default;

/// ...
/// @group framework
/// @access public
/// @type String
$border-radius-base				: 4px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$border-radius-large			: 6px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$border-radius-small			: 3px !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$code-color						: #c7254e !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$code-bg						: #f9f2f4 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$kbd-color						: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$kbd-bg							: #333 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$pre-bg							: #f5f5f5 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$pre-color						: $gray-dark !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$pre-border-color				: #ccc !default;

/// ...
/// @group framework
/// @access public
/// @type String
$menu-toggle-line-width			: 4px !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$menu-toggle-line-colour		: $clr-primary;

/// ...
/// @group framework
/// @access public
/// @type String
$menu-toggle-size				: 36px !default;

/// ...
/// @group framework
/// @access public
/// @type Bool
$menu-toggle-full-burger		: true !default;

/// ...
/// @group framework
/// @access public
/// @type String
$container-padding				: 35px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$font-size-large				: ceil(($base-font-size * 1.25)) !default;

/// ...
/// @group framework
/// @access public
/// @type String
$font-size-small				: ceil(($base-font-size * 0.85)) !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$badge-font-weight				: 700 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$badge-color					: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Number
$badge-line-height				: 1 !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$badge-bg						: #777 !default;

/// ...
/// @group framework
/// @access public
/// @type String
$badge-border-radius			: 8px !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$badge-link-hover-color			: #fff !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$link-color 					: $clr-primary !default;

/// ...
/// @group framework
/// @access public
/// @type Color
$link-hover-color 				: $clr-primary !default;

/// ...
/// @group framework
/// @access public
/// @type String
$link-hover-decoration			: underline !default;

/// ...
/// @group framework
/// @access public
/// @type String
$base-padding					: 10px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$base-margin					: 15px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$gutter							: 20px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$nav-anchor-padding				: 10px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$device-max-width-small			: 600px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$device-min-width-med			: 601px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$device-max-width-med			: 992px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$device-min-width-large			: 993px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$device-min-width-xlarge		: 1401px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$underline						: 1px dotted rgba(#000, .4) !default;

/// ...
/// @group framework
/// @access public
/// @type String
$size-sm						: 415px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$size-md						: 668px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$size-lg						: 768px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$size-xl						: 1025px !default;

/// ...
/// @group framework
/// @access public
/// @type String
$size-xxl						: $site-width !default;

/// ...
/// @group framework
/// @access public
/// @type Map
$grid-breakpoints				: ('sm', 'md', 'lg', 'xl') !default;

/// ...
/// @group framework
/// @access public
/// @type String
$width-default					: $site-width !default;

/*
$fw-base-colour					: #E8F1FB !default;
$fw-base-colour-text			: inherit !default;
$fw-colour2						: #5764c6 !default;
$fw-colour2-contrast			: #fff !default;
*/
$fw-font-family					: 'Roboto', $sans-font-family !default;

$debug							: false !default;
