
/// ...
/// @group framework
/// @access public
%remove-first-last
{
	> *
	{
		&:first-child
		{
			margin-top			: 0;
		}

		&:last-child
		{
			margin-bottom		: 0;
		}
	}
}

/// ...
/// @group framework
/// @access public
%tab-focus
{
	outline						: thin dotted;
	outline						: 5px auto -webkit-focus-ring-color;
	outline-offset				: -2px;
}

/// ...
/// @group framework
/// @access public
%core-breakword
{
	word-wrap 					: break-word;
}

/// ...
/// @group framework
/// @access public
%core-normal-wrap
{
	word-wrap 					: normal;
}

/// ...
/// @group framework
/// @access public
%core-inherit-wrap
{
	word-wrap 					: auto;
}

/// ...
/// @group framework
/// @access public
%clearfix
{
	&:after
	{
		content 				: "";
		display 				: table;
		clear					: both;
	}
}

// In some cases it's necessary to remove the line height on an element
// this does just that, then it resets it on the children
/// ...
/// @group framework
/// @access public
%zero-height
{
	line-height 				: 0;

	> *
	{
		line-height 			: $base-line-height;
	}
}

/// ...
/// @group framework
/// @access public
%auto-margins
{
	margin-left					: auto;
	margin-right				: auto;
}

/// ...
/// @group framework
/// @access public
%zero-vertical-margins
{
	margin-top 					: 0;
	margin-bottom				: 0;
}

/// ...
/// @group framework
/// @access public
%screen-reader
{
	position					: absolute;
	left						: -10000px;
	top							: auto;
	width						: 1px;
	height						: 1px;
	overflow					: hidden;
}

/// ...
/// @group framework
/// @access public
%is-hidden
{
	position 					: absolute;
	overflow 					: hidden;
	width 						: 1px;
	height 						: 1px;
	padding 					: 0;
	border 						: 0;
	clip 						: rect(1px, 1px, 1px, 1px);
}

/// ...
/// @group framework
/// @access public
%clearfix
{
	zoom 						: 1;

	&:before, &:after
	{
		content 				: "";
		display 				: table;
	}

	&:after
	{
		clear 					: both;
	}
}

/// ...
/// @group framework
/// @access public
%webkit-appearance-reset
{
	-webkit-appearance 			: none;
}

/// ...
/// @group framework
/// @access public
%image-replacement
{
	display						: inline-block;
	border						: 0;
	text-indent					: -999em;
	overflow					: hidden;
	background-color			: transparent;
	background-repeat			: no-repeat;
	text-align					: left;
	direction					: ltr;
	*line-height				: 0;
}

/// ...
/// @group framework
/// @access public
%visually-hide
{
	border 						: 0;
	// Modern syntax for clip used - intentially not supporting ie7
	clip 						: rect(0, 0, 0, 0);
	height 						: 1px;
	margin 						: -1px;
	overflow 					: hidden;
	padding 					: 0;
	position 					: absolute;
	width 						: 1px;
}

/// ...
/// @group framework
/// @access public
%visually-show
{
	clip 						: auto;
	width 						: auto;
	height 						: auto;
	position 					: static;
}

/// ...
/// @group framework
/// @access public
%empty-generated-content
{
	content 					: "";
	display 					: block;
}

/// ...
/// @group framework
/// @access public
%empty-abs-generated-content
{
	@extend %empty-generated-content;

	position 					: absolute;
}

/// ...
/// @group framework
/// @access public
%invisible
{
	opacity 					: 0;
	visibility 					: hidden;
}

/// ...
/// @group framework
/// @access public
%opaque
{
	opacity 					: 1;
	visibility 					: visible;
}

/// ...
/// @group framework
/// @access public
%prevent-text-breakouts
{
	word-wrap 					: break-word;
	hyphens 					: auto;
}

/// ...
/// @group framework
/// @access public
%truncate-text
{
	text-overflow 				: ellipsis;
	overflow 					: hidden;
	white-space 				: nowrap;
}

/// ...
/// @group framework
/// @access public
%subpixel-text
{
	-webkit-font-smoothing 		: subpixel-antialiased;
	-moz-osx-font-smoothing 	: auto;
	font-smoothing 				: subpixel-antialiased;
}

// Make an image have a circular crop
/// ...
/// @group framework
/// @access public
%border-circular
{
	border-radius 				: 100%;
}

/// ...
/// @group framework
/// @access public
%cover-absolute
{
	position					: absolute;
	top							: 0;
	right						: 0;
	bottom						: 0;
	left						: 0;
	width						: 100%;
	height						: 100%;
}
